.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  color: #61dafb;
  margin: 0;
  font-weight: normal;
}

.todo-container {
  width: 50%;
}

@media screen and (max-width: 1080px) {
  .todo-container {
    width: 60%
  }
}

@media screen and (max-width: 768px) {
  .todo-container {
    width: 80%
  }
}